
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###


###< ANNOYING STUFF ###
.idea
supervisord.pid
src/Controller/TestController.php
env.local
###> ANNOYING STUFF ###